<h1 mat-dialog-title color="accent">
    <button mat-mini-fab mat-dialog-close #tooltip="matTooltip" matTooltip="Close" matTooltipPosition="below"
      color="accent">
      <mat-icon>close</mat-icon>
    </button>
    Add new Factor:
  </h1>
  
  <div mat-dialog-content>
    <ng-container 
    [ngTemplateOutlet]="global_desc_template"
                [ngTemplateOutletContext]="{info_element: {desc: data.desc, title: 'Information'}}"></ng-container>

    <mat-form-field color="accent" appearance="fill" class="full-form">
      <mat-label>Choose a factor</mat-label>
      <mat-select [attr.name]="'factor'" [(ngModel)]="selected_factor" (selectionChange)="nestedFactorSelect()">
        <mat-optgroup *ngFor="let factor_group of data.factors" [label]="factor_group.title">
          <mat-option [value]="factor" *ngFor="let factor of factor_group.whitelist">{{factor}}</mat-option>
        </mat-optgroup>
  
      </mat-select>
    </mat-form-field>
    <ng-container *ngIf="selected_factor"
    [ngTemplateOutlet]="global_desc_template"
                [ngTemplateOutletContext]="{info_element: {desc: data.values[selected_factor].desc, title: 'Factor Information'}}"></ng-container>
<!--if factor says select  if data.values[selected_factor].input_type == 'select'-->
    <div *ngIf="selected_factor">
      <mat-form-field color="accent" appearance="fill" class="full-form"
        *ngIf="data.values[selected_factor].input_type == 'select'">
        <mat-label>Choose values for {{data.values[selected_factor].displayName}}</mat-label>
        <mat-select attr.data-type="{{data.values[selected_factor].input_type}}" [attr.name]="'factor:' + selected_factor" [(ngModel)]="selected_value" multiple>
          <mat-option [value]="value" *ngFor="let value of data.values[selected_factor].whitelist">{{value}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field color="accent" appearance="fill" class="full-form"
        *ngIf="data.values[selected_factor].input_type == 'group_select'">
        <mat-label>Choose values for {{data.values[selected_factor].displayName}}</mat-label>
        <mat-select attr.data-type="{{data.values[selected_factor].input_type}}" [attr.name]="'factor:' + selected_factor" [(ngModel)]="selected_value" multiple>
          <mat-optgroup *ngFor="let group of data.values[selected_factor].whitelist" [label]="group.title">
            <mat-option *ngFor="let value of group.whitelist" [value]="value">{{value}}</mat-option>
          </mat-optgroup>
        </mat-select>
      </mat-form-field>
  
      <div *ngIf="data.values[selected_factor].input_type == 'multi_autofill'">
        <mat-form-field color="accent" appearance="fill" class="full-form">
          <mat-label>Choose values for {{data.values[selected_factor].displayName}}</mat-label>
  
          <input (paste)="(false)" attr.data-type="{{data.values[selected_factor].input_type}}" [name]="'factor:' + selected_factor" matInput [matChipInputFor]="chipGrid"
            (keyup)="applySearchFilter(input.value, data.values[selected_factor].search_info)" [matAutocomplete]="auto"
            #input>
          <mat-autocomplete #auto="matAutocomplete"
            (optionSelected)="selectSomeValues($event.option.value);input.value=''">
            <mat-option *ngFor="let value of filter_list" [value]="value">
              {{value}}
            </mat-option>
          </mat-autocomplete>
          <button *ngIf="input.value" color="accent" matSuffix mat-icon-button aria-label="Clear"
            (click)="input.value=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <mat-chip-grid #chipGrid>
          <mat-chip-row *ngFor="let value of selected_value" style="border: 1px; border-color: black;border-style: solid;"
            (removed)="unselectValue(value)">
            {{value}}
            <button matChipRemove style="color: red;">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-row>
        </mat-chip-grid>
  
      </div>
  
      <div *ngIf="data.values[selected_factor].input_type == 'restricted_short_text'">
        <mat-form-field color="accent" appearance="fill" class="full-form" style="margin-bottom: 10px;">
          <mat-label>{{data.values[selected_factor].displayName}}</mat-label>
          <input attr.data-type="{{data.values[selected_factor].input_type}}" [name]="'factor:' + selected_factor" matInput [matChipInputFor]="chipGrid"
          (keyup)="applyRestrictedShortText($event, data.values[selected_factor].restriction.regex, data.values[selected_factor].restriction.max_length)" #input>
          <button [name]="'factor:' + selected_factor + '_btn'" *ngIf="input.value" color="accent" matSuffix mat-icon-button aria-label="Clear"
            (click)="selectSomeValues(input.value);input.value=''">
            <mat-icon>send</mat-icon>
          </button>
          <button *ngIf="input.value" color="accent" matSuffix mat-icon-button aria-label="Clear"
            (click)="input.value=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
  
        <mat-chip-grid #chipGrid>
          <mat-chip-row *ngFor="let value of this.selected_value"
            style="border: 1px; border-color: black;border-style: solid;"
            (removed)="unselectValue(value)">
            {{value}}
            <button matChipRemove style="color: red;">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-row>
        </mat-chip-grid>
      </div>
  
  
      <div *ngIf="data.values[selected_factor].input_type == 'value_unit'">
        <div fxLayout="row wrap" fxLayoutGap="16px grid" fxLayoutAlign="strech">
          <div fxFlex="50%">
            <mat-form-field color="accent" appearance="fill" class="full-form">
              <mat-label>Choose values</mat-label>
              <input attr.data-type="{{data.values[selected_factor].input_type}}-number" [name]="'factor:' + selected_factor + ':value'" matInput [(ngModel)]="selected_value_unit.value">
              <mat-hint align="start">Enter values seperated by comma (,)</mat-hint>
            </mat-form-field>
          </div>
          <div fxFlex="50%">
            <mat-form-field color="accent" appearance="fill" class="full-form">
              <mat-label>Choose a unit</mat-label>
              <mat-select attr.data-type="{{data.values[selected_factor].input_type}}-select" [attr.name]="'factor:' + selected_factor + ':unit'" [(ngModel)]="selected_value_unit.unit">
                <mat-option [value]="value" *ngFor="let value of data.values[selected_factor].whitelist">{{value}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
  
      <div *ngIf="data.values[selected_factor].input_type == 'nested'">
        <div *ngFor="let field of data.values[selected_factor].whitelist">
          <mat-form-field color="accent" appearance="fill" class="full-form" *ngIf="field.input_type == 'select'">
            <mat-label>{{field.displayName}}<sup *ngIf="field.required">*</sup></mat-label>
            <mat-select attr.data-type="{{field.input_type}}" [attr.name]="'factor:' + selected_factor + ':' + field.position" [(ngModel)]="field.value" multiple (selectionChange)="nestedValuesSelect(field)">
              <mat-option [value]="value" *ngFor="let value of field.whitelist">{{value}}</mat-option>
            </mat-select>
            <mat-hint align="start"  [innerHTML]="field.desc"></mat-hint>
          </mat-form-field>
          <mat-form-field color="accent" appearance="fill" class="full-form" *ngIf="field.input_type == 'group_select'">
            <mat-label>{{field.displayName}}<sup *ngIf="field.required">*</sup></mat-label>
            <mat-select attr.data-type="{{field.input_type}}" [attr.name]="'factor:' + selected_factor + ':' + field.position" [(ngModel)]="field.value" multiple (selectionChange)="nestedValuesSelect(field)">
              <mat-optgroup *ngFor="let group of field.whitelist" [label]="group.title">
                <mat-option *ngFor="let value of group.whitelist" [value]="value">{{value}}</mat-option>
              </mat-optgroup>
            </mat-select>
            <mat-hint align="start"  [innerHTML]="field.desc"></mat-hint>
          </mat-form-field>
  
          <div *ngIf="field.input_type == 'multi_autofill'">
            <mat-form-field color="accent" appearance="fill" class="full-form">
              <mat-label>Choose values for {{field.displayName}}<sup *ngIf="field.required">*</sup></mat-label>
  
              <input (paste)="(false)" attr.data-type="{{field.input_type}}" [name]="'factor:' + selected_factor + ':' + field.position" matInput [matChipInputFor]="chipGrid"
                (keyup)="applyNestedSearchFilter(input.value, field.search_info, field)" [matAutocomplete]="auto" #input>
              <mat-autocomplete #auto="matAutocomplete"
                (optionSelected)="nestedValuesSelect(field, $event.option.value);input.value=''">
                <mat-option *ngFor="let value of filter_list" [value]="value">
                  {{value}}
                </mat-option>
              </mat-autocomplete>
              <button *ngIf="input.value" color="accent" matSuffix mat-icon-button aria-label="Clear"
                (click)="input.value=''">
                <mat-icon>close</mat-icon>
              </button>
              <mat-hint align="start"  [innerHTML]="field.desc"></mat-hint>
            </mat-form-field>
            <mat-chip-grid #chipGrid>
              <mat-chip-row *ngFor="let value of this.selected_value_nested[field.position]"
                style="border: 1px; border-color: black;border-style: solid;"
                (removed)="unselectNestedValue(value, field.position)">
                {{value}}
                <button matChipRemove style="color: red;">
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip-row>
            </mat-chip-grid>
  
          </div>
  
  
          <div *ngIf="field.input_type == 'restricted_short_text'">
            <mat-form-field color="accent" appearance="fill" class="full-form" style="margin-bottom: 10px;">
              <mat-label>{{field.displayName}}<sup *ngIf="field.required">*</sup></mat-label>
              <input attr.data-type="{{field.input_type}}" [name]="'factor:' + selected_factor + ':' + field.position" matInput [matChipInputFor]="chipGrid"
              (keyup)="applyRestrictedShortText($event, field.restriction.regex, field.restriction.max_length)" #input>
              <button [name]="'factor:' + selected_factor + ':' + field.position + '_btn'" *ngIf="input.value" color="accent" matSuffix mat-icon-button aria-label="Clear"
                (click)="nestedValuesSelect(field, input.value);input.value=''">
                <mat-icon>send</mat-icon>
              </button>
              <button *ngIf="input.value" color="accent" matSuffix mat-icon-button aria-label="Clear"
                (click)="input.value=''">
                <mat-icon>close</mat-icon>
              </button>
              <mat-hint align="start"  [innerHTML]="field.desc"></mat-hint>
            </mat-form-field>
  
            <mat-chip-grid #chipGrid>
              <mat-chip-row *ngFor="let value of this.selected_value_nested[field.position]"
                style="border: 1px; border-color: black;border-style: solid;"
                (removed)="unselectNestedValue(value, field.position)">
                {{value}}
                <button matChipRemove style="color: red;">
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip-row>
            </mat-chip-grid>
          </div>
  
          <div *ngIf="field.input_type == 'value_unit'">
            <div fxLayout="row wrap" fxLayoutGap="16px grid" fxLayoutAlign="strech">
              <div fxFlex="50%">
                <mat-form-field color="accent" appearance="fill" class="full-form">
                  <mat-label>{{field.displayName}}<sup *ngIf="field.required">*</sup></mat-label>
                  <input attr.data-type="{{field.input_type}}-number" [name]="'factor:' + selected_factor + ':' + field.position + ':value'" matInput [(ngModel)]="field.value" (selectionChange)="nestedValuesSelect(field)">
                  <mat-hint align="start">Enter values seperated by comma (,)</mat-hint>
                </mat-form-field>
              </div>
              <div fxFlex="50%">
                <mat-form-field color="accent" appearance="fill" class="full-form">
                  <mat-label>Choose a unit</mat-label>
                  <mat-select attr.data-type="{{field.input_type}}-select" [attr.name]="'factor:' + selected_factor + ':' + field.position + ':unit'" [(ngModel)]="field.unit" (selectionChange)="nestedValuesSelect(field)">
                    <mat-option [value]="value" *ngFor="let value of field.whitelist">{{value}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
  
  
        </div>
      </div>
  
    </div>
    <button name="Save Factor" class="full-form" style="margin-bottom: 10px; margin-top: 15px;" [disabled]="addFactorDisabled()"
      mat-raised-button color="accent" (click)="addFactor()">Save Factor</button>
  
    <table mat-table style="margin-bottom: 10px" [dataSource]="factor_table" class="mat-elevation-z4">
  
      <ng-container matColumnDef="factor">
        <th mat-header-cell *matHeaderCellDef> Factor </th>
        <td mat-cell *matCellDef="let element"> {{element.factor}} </td>
      </ng-container>
      <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef> Values </th>
        <td mat-cell *matCellDef="let element">
          <div *ngIf="this.data.values[element.factor].input_type == 'nested'">
            <div *ngFor="let nested_input of displayNested(element)">
              {{nested_input.name}}: {{nested_input.value}}
              <br>
            </div>
          </div>
          <div *ngIf="this.data.values[element.factor].input_type != 'nested'">
            {{element.values}}
          </div>
        </td>
      </ng-container>
  
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button #tooltip="matTooltip" matTooltip="Edit Factor" matTooltipPosition="above" color="accent"
            (click)="editFactor(element)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button #tooltip="matTooltip" matTooltip="Remove Factor" matTooltipPosition="above" color="warn"
            (click)="removeFactor(element)">
            <mat-icon>delete</mat-icon>
          </button>
  
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="factorColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: factorColumns;"></tr>
    </table>
  </div>
  
  <div mat-dialog-actions align="end">
    <button name="Generate all factor Combinations" mat-raised-button mat-dialog-close color="accent"
      [disabled]="generateConditionsDisabled()" [mat-dialog-close]="{factor_list: factorList}">Generate all factor
      Combinations
    </button>
    <button mat-raised-button mat-dialog-close color="warn">Cancel</button>
  </div>
  
  <ng-template #global_desc_template let-info_element="info_element">
    <mat-card appearance="outlined" style="margin-bottom: 30px;">
      <mat-card-header>
          <mat-card-subtitle>
              {{info_element.title}}:
          </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div  [innerHTML]="info_element.desc"></div>
      </mat-card-content></mat-card>
  </ng-template>