/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;

@include mat.all-component-typographies();
@include mat.elevation-classes();
@include mat.app-background();

//Theming
//$my-primary: mat.define-palette(mat.$teal-palette,400);
//$my-accent: mat.define-palette(mat.$green-palette, A400);
//$my-warn: mat.define-palette(mat.$red-palette);
// Define a new color for warning
$theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$chartreuse-palette,
      tertiary: mat.$magenta-palette,
    ),
  )
);
@include mat.all-component-themes($theme);
html {
  @include mat.elevation-classes();
  @include mat.app-background();
  @include mat.all-component-themes($theme);
  @include mat.all-component-typographies($theme);
}
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.active-nav-button {
  color: mat.get-theme-color($theme, on-primary-fixed) !important;
  background-color: mat.get-theme-color($theme, primary-fixed) !important;
}

.icon-button-primary {
  @include mat.icon-color($theme, $color-variant: primary);
}

.icon-tertiary {
  @include mat.icon-color($theme, $color-variant: tertiary);
}
.icon-warn {
  @include mat.icon-color($theme, $color-variant: error);
}

.button-tertiary {
  @include mat.button-color($theme, $color-variant: tertiary);
}
.button-warn {
  @include mat.button-color($theme, $color-variant: error);
}

.fab-button-warn {
  color: mat.get-theme-color($theme, on-error-container) !important;
  background-color: mat.get-theme-color($theme, error-container) !important;
}
.progress-bar-warn {
  @include mat.progress-bar-color($theme, $color-variant: error);
}
.success {
  color: #1ec907;
}
.warning-snackbar {
  background: #da5a5a;
  color: #000000;
}
.success-snackbar {
  background: #383838;
  color: #ffffff;
}

.loading-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 20px);
}

.loading-spinner {
  padding: 12px;
}

.full-form {
  width: 100%;
}

.half-form {
  width: 50%;
}

.list-style-type-circle {
  list-style-type: disc;
}
.header-toolbar {
  background-color: mat.get-theme-color($theme, secondary, 10) !important;
}
.pgm_desc_table {
  table-layout: fixed;
  td {
    vertical-align: top;
    padding: 0 5px 0 5px;
  }
  tr {
    vertical-align: top;
  }
}
.list-style-none {
  list-style: none;
}

.table_style_condition_title {
  border-collapse: collapse;
}

.tr_style_condition_title {
  border-bottom: 1pt solid black;
}

.td_style_condition_title_factor {
  border-right: 1pt solid black;
  padding: 5px;
}

.td_style_condition_title_value {
  padding: 5px;
}
